<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="Myservlet">
	<display-name>PutHereTheNameOfYourWebApp</display-name>
	<description>This a description of my web app made by Eclipse</description>


	<!-- 
			配置顺序应该符合这个顺序
	参数，滤波器，滤波器映射*，听者，servlet，servlet映射，会话配置？，
	MIME映射*，欢迎文件列表？，错误页面，标签库、资源环境资源引用参考*，*，*安全约束，
	登录配置？、安全的作用，enventry *，EJB引用，ejb-local-ref *）” 
	-->

	<!-- 过滤器配置文本区 -->
<filter>
	<filter-name>characterEncodingFilter</filter-name>
	<filter-class>cn.becomegood.web.filtertest.CharacterEncodingFilter</filter-class>
	<init-param>
		<param-name>characterEncoding</param-name>		<!-- 设置编码方式 -->
		<param-value>UTF-8</param-value>
	</init-param>
	<init-param>
		<param-name>enabled</param-name>				<!-- 设置是否启动这个编码filter -->
		<param-value>true</param-value>
	</init-param>	
</filter>

<filter>
	<filter-name>outputReplaceFilter</filter-name>
	<filter-class>cn.becomegood.web.filtertest.OutputReplaceFilter</filter-class>
	<init-param>
		<param-name>file</param-name>
		<param-value>/WEB-INF/classes/properties/replaceWord.properties</param-value>
	</init-param>
</filter>


<!-- 过滤器mapping设置文本区 -->
<filter-mapping>
	<filter-name>characterEncodingFilter</filter-name>
	<url-pattern>/*</url-pattern>				<!-- 设置所有该项目的网页都要经过该过滤器 -->
</filter-mapping>	

<filter-mapping>
	<filter-name>outputReplaceFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>



	<!-- 这是servlet基础配置文本区域 -->
  <servlet>
    <servlet-name>show</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>cn.becomegood.web.test1.show</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Code</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>cn.becomegood.web.test1.Code</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpFileTest</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>cn.becomegood.web.test1.UpFileTest</servlet-class>
  </servlet>

	<!-- servlet的maping配置文本区域 -->
  <servlet-mapping>
    <servlet-name>show</servlet-name>
    <url-pattern>/servlet/show</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Code</servlet-name>
    <url-pattern>/servlet/Code</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpFileTest</servlet-name>
    <url-pattern>/up</url-pattern>
  </servlet-mapping>



	<welcome-file-list>
        <welcome-file>/MyHtml.html</welcome-file>
	</welcome-file-list>

	

   <!--MySQL数据库JNDI数据源引用 -->
   <resource-ref>
       <description>MySQL DB Connection</description>
       <res-ref-name>jdbc/jstl</res-ref-name>
       <res-type>javax.sql.DataSource</res-type>
       <res-auth>Container</res-auth>
   </resource-ref>
   

	
	
	
	
	
	
</web-app>
